<!-- HEADER -->
<header class="app-header">
  <div class="container d-flex align-items-center justify-content-between py-3">

    <!-- Left Branding -->
    <div class="d-flex align-items-center gap-2">
      <span class="brand-dot"></span>
      <h1 class="app-title m-0">Favourite Company</h1>
    </div>

    <!-- Right Navigation -->
    <nav class="d-flex gap-2">
      <a class="btn btn-light btn-sm"
         routerLink="/"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a class="btn btn-light btn-sm"
         routerLink="/login"
         routerLinkActive="active-link">
        Login
      </a>

            <a class="btn btn-light btn-sm"
         routerLink="/profile"
         routerLinkActive="active-link">
        profile
      </a>


    </nav>

  </div>
</header>

<!-- MAIN CONTENT -->
<main class="app-main">
  <router-outlet></router-outlet>
</main>

<!-- FOOTER -->
<footer class="app-footer">
  <div class="container py-3 d-flex justify-content-between flex-wrap gap-2">
    <span>© {{ currentYear }} Favourite Company</span>
    <span class="small opacity-75">Built with Angular 17 + Bootstrap</span>
  </div>
</footer>
``